.AllContainer {
}

.Header {
  text-align: center;
}

.Body {
  background-color: #222;
  padding: 20px;
  color: white;
}

.CategoryContainer {
  margin-top: 15px;
  margin-bottom: 1px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 2px;
  color: #666666;
  background-color: #fafafa;
  border-top: 1px solid #efefef;
}
